<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/style.css">
    <script type="module" src="/assets/login.js" defer></script>
</head>
<body>
    <main>
        <h1>Login</h1>
        <form method="post">
            <label for="username">Nom d'utilisateur</label>
            <input id="username" name="username" >
            <label for="password">Mot de passe</label>
            <input id="password" type="password" name="password" >
            <button type="submit">Se connecter</button>
        </form>
        <p id="errors">
            
        </p>
    </main>
</body>
</html>